
.header-all{
    display: flex;
    flex-direction: row;
}


.header-main {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.4px;
}
.logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121417;
}
.logo{
    margin-right: 8px;
    align-items: center;
    display: flex;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-menu{
    margin-left: 25px;
}