.main-container {
  margin: 20px 64px 32px;
  display: flex;
}

.hero-container {
  width: 720px;
  height: 530px;
  border-radius: 30px;
  background: #f8f8f8;
  padding: 98px 64px 98px;
}

.hero-title {
  color: #121417;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  width: 548px;
  margin-bottom: 32px;
}

.hero-paragraf {
  width: 471px;
  color: #121417;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.32px;
  margin-bottom: 64px;
}

.hero-btn {
  display: inline-flex;
  padding: 16px 88px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #9fbaae;
  outline: transparent;
}

.hero-img {
  margin-left: 24px;
}

.experience-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.hero-experience {
  width: 1312px;
  border-radius: 30px;
  border: 1.5px dashed #9fbaae;
  padding: 40px 73px;
  margin: 20px 64px 32px;
}
.experience-items {
  display: flex;
  flex-direction: row;
  color: #121417;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  
}
.experience-text{
    color: rgba(18, 20, 23, 0.70);
font-size: 14px;
font-weight: 400;
line-height: 1.28; 
letter-spacing: -0.28px;
margin-left: 16px;
width: 96px;
}