.regist-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(136deg, #7ea0f5, $accent-text-color);
  z-index: 1000;
}
.regist-backdrop[registr-is-hidden] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.regist-form-container {
  position: absolute;
  top: 30%;
  left: 6%;
  background: $second-color;
  border: 2px solid #111111;
  border-radius: 18px;
}
.registr-form{
     width: 100%;
  background: lightgrey;
  border-radius: 18px;
  padding: 40px 20px;
  max-width: 335px;
  min-height: 384px;
}