<heder class="header-all">
  <div class="header-main">
    <a href="./index.html" class="logo-link">
      <svg class="logo" width="28" height="28">
        <use href="./images/svg/symbol-defs.svg#icon-ukraine"></use>
      </svg>
      LearnLingo
    </a>
  </div>
  <div class="header-nav">
    <ul class="header-menu">
      <li><a  href="./partials/home.html" class="header-link">Home</a></li>
      <li><a href="./partials/teachers.html" class="header-link">Teachers</a></li>
    </ul>
    <ul class="header-log-content">
      <li>
        <a  class="login-link" href="#"
          ><svg class="login-icon" width="28" height="28">
            <use href="./images/svg/symbol-defs.svg#icon-log-in"></use></svg >
            Log in
          </a>
      </li>
      <li>
        <button class="registration-btn" type="submit">Registration</button>
      </li>
    </ul>
  </div>
</heder>
