<heder>
  <div class="header">
    <a href="./index.html">
      <svg class="logo" width="28" height="28">
        <use href="./images/svg/symbol-defs.svg#icon-ukraine"></use>
      </svg>
      LearnLingo
    </a>
  </div>
  <div>
    <ul>
      <li><a href="./partials/home.html">Home</a></li>
      <li><a href="./partials/teachers.html">Teachers</a></li>
    </ul>
    <ul>
      <li>
        <a href="#"
          ><svg width="28" height="28">
            <use href="./images/svg/symbol-defs.svg#icon-log-in"></use></svg >
            Log In
          </a>
      </li>
      <li>
        <button type="submit">Registration</button>
      </li>
    </ul>
  </div>
</heder>
