<div class="login-backdrop" data-form>
  <div class="login-form-container">
    <button type="button" class="login-close-btn" data-login-close>
      <svg class="close-icon-modal" width="20" height="20">
        <use href="./images/svg/symbol-defs1.svg#icon-close-cross"></use>
      </svg>
    </button>
    <form class="login-form">
      <h1 class="login-titel">Log In</h1>
      <p class="login-subtitel">
        Welcome back! Please enter your credentials to access your account and
        continue your search for an teacher.
      </p>
      <input class="login-input" type="text" placeholder="Email" required />
      <input
        class="login-input"
        type="text"
        placeholder="Password"
        minlength="8"
        required
      />
      <button class="login-main-btn" type="submit">Sign up</button>
    </form>
  </div>
</div>
