<main class="main-container">
  <div class="hero-container">
    <div>
      <h1  class="hero-title">Unlock your potential with the best <em>language </em>tutors</h1>

      <p class="hero-paragraf">
        Embark on an Exciting Language Journey with Expert Language Tutors:
        Elevate your language proficiency to new heights by connecting with
        highly qualified and experienced tutors.
      </p>
      <button type="submit" class="hero-btn">Get started</button>
    </div>
  </div>
</main>
