<main class="main-container">
  <div class="hero-container">
    <div>
      <h1 class="hero-title">
        Unlock your potential with the best <em>language </em>tutors
      </h1>
      <p class="hero-paragraf">
        Embark on an Exciting Language Journey with Expert Language Tutors:
        Elevate your language proficiency to new heights by connecting with
        highly qualified and experienced tutors.
      </p>
      <button type="submit" class="hero-btn">Get started</button>
    </div>
  </div>
  <div>
    <img
      class="hero-img"
      src="./images/main/block@2x.png"
      alt="comp"
      width="568"
      height="530"
    />
  </div>
</main>
<div class="hero-experience">
  <ul class="experience-list">
    <li class="experience-items">
      32,000 +
      <p class="experience-text">Experienced tutors</p>
    </li>

    <li class="experience-items">
      300,000 +
      <p class="experience-text">5-star tutor reviews</p>
    </li>

    <li class="experience-items">
      120 +
      <p class="experience-text">Subjects <br>taught</p>
    </li>

    <li class="experience-items">
      200 +
      <p class="experience-text">Tutor nationalities</p>
    </li>
  </ul>
</div>
